__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env
*.bin
*.idx
data/*
slurm_scripts/
logs/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
models/*
evals/
checkpoints/
exports/
adhoc
